/* styles.css */

/* Βασικά Στυλ */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('background.png') no-repeat center center fixed; /* Εικόνα ως φόντο */
    background-size: cover; /* Η εικόνα προσαρμόζεται στο μέγεθος της οθόνης */
    background-position: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Τίτλος */
.title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: #005f99;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; 
    animation: fadeIn 1.5s ease-in-out;
}


/* Κεντρικό Κουτί */
.container {
    text-align: center;
}

.login-box {
    background: rgba(36, 60, 105, 0.8); /* 80% αδιαφάνεια */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-left: 20px; /* Μετακίνηση προς τα δεξιά */
    animation: slideDown 1s ease-out;
}

/* Περιγραφή */
.description {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #fff;
}

/* Φόρμα */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
}

input {
    padding: 10px;
    background: #eaf4fc; /* Απαλό γαλάζιο */
    border: 1px solid #007acc; /* Μπλε περίγραμμα */
    border-radius: 4px;
    color: #333;
    outline: none;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #005f99;
    box-shadow: 0 0 5px #005f99;
}

/* Κουμπί Login */
button {
    padding: 10px;
    background-color: #274690; /* Μπλε κουμπί */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1a175f;
    box-shadow: 0 4px 10px rgba(6, 62, 97, 0.5);
}

/* Animations */
@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.error-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(204, 29, 20, 0.9); /* Κόκκινο ημιδιαφανές */
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ψηλά στην ιεραρχία για να φαίνεται πάνω από όλα */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.error-popup.fade-out {
    opacity: 0; /* Σταδιακή εξαφάνιση */
}
